/* Google Poppins Font Family */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Genel CSS'ler Başlangıç*/

body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: poppins !important;
    background-color: #ffffff;
}

*{
    box-sizing: border-box !important;
}

ul{
    list-style: none !important;
}

a{
    text-decoration: none !important;
}

nav{
    width: 100% !important;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05) !important;
    z-index: 100 !important;
}

/* Genel CSS'ler Bitiş*/


/* Nav Social Başlangıç */

.social-call{
    height: 40px;
   border: 1px solid rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: center;
   align-items: center;
}

.social a{
    margin: 0px 5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}

.phone{
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover{
    color: #0b9d8a;
    transition: all ease 0.5s;
}

/* Nav Social Bitiş */



/* Nav Menu Bar Başlangıç */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}



.logo img{
    height: 50px;
    margin-top: -10px;
}

.menu{
    display: flex;
    margin-top: 20px;
}

#navbarDropdown{
    margin: -8.3px -20px;
}

.dropbar-indirim{
    font-size: 10px;
    background-color: #f76b6a;
    color: white;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 5px;
}



.menu li{
    position: relative;
    margin: 20px;
    
    display: flex;
    font-weight: 600;
    font-size: 15px;
}



.menu li a{
    color: #555555 !important;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
    color: #0b9d8a !important;
    transition: all ease 0.3s ;
}

.reset{
    margin-top: -10px;
    font-size: 13px;   
}

.dropdown-menu a:hover{
    transition:  0s ;
}

.icon-space{
    padding-right: 7px;
}

.bottom-side-reset{
    margin-bottom: -15px;
}

.sale-lable{
    width: 48px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    position: absolute;
    top: -25px;
    right: -10px;
    border-radius: 3px;
}

.sale-lable:after{
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}

.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position:absolute ;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;

}

/* Nav Menu Bar Bitiş */




/* Searh Bar Başlangıcı */

.search-bar{
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
    
}

.search-input{
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    
}

.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
    
}

.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar{
    display: none;
}

.search-bar-active{
    display: flex;
}



@keyframes search{
    0%{
        bottom: -200px;
    }
    100%{
        bottom: 0px;
    }
}
/* Searh Bar Bitişi */



/* Login ve Signup Başlangıç */

.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
    
}

.login-form,
.sign-up-form{
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    
}

.login-form form,
.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.login-form input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    background-color: #0b9d8a;
    color: #ffffff;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;

}

.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}


.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}

.login-form,
.sign-up-form,
.form{
    display: none;
}

.login-active,
.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Login ve Signup Bitiş */


/* Slider Başlangıç */

.slider {
    position: relative;

  }
  
  .slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-open:checked + .slider-item {
    position: static;
    opacity: 100;
  }
  
  .slider-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  
  .slider-item img {
    display: block;
    height: auto;
    width: 100%;
    
  }
  
  .slider-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .slider-control.prev {
    left: 2%;
  }
  
  .slider-control.next {
    right: 2%;
  }
  
  .slider-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  
  #slider-1:checked ~ .control-1,
  #slider-2:checked ~ .control-2,
  #slider-3:checked ~ .control-3,
  #slider-4:checked ~ .control-4 {
    display: block;
  }
  
  .slider-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .slider-indicators li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slider-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  
  .slider-bullet:hover {
    color: #aaaaaa;
  }
  
  #slider-1:checked
    ~ .control-1
    ~ .slider-indicators
    li:nth-child(1)
    .slider-bullet,
  #slider-2:checked
    ~ .control-2
    ~ .slider-indicators
    li:nth-child(2)
    .slider-bullet,
  #slider-3:checked
    ~ .control-3
    ~ .slider-indicators
    li:nth-child(3)
    .slider-bullet,
  #slider-4:checked
    ~ .control-4
    ~ .slider-indicators
    li:nth-child(4)
    .slider-bullet {
    color: #428bca;
  }
  
  #title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
      -1px 0px 2px rgba(255, 255, 255, 0);
  }
/* Slider Bitiş */


/* Kategoriler Başlangıç */

.kategori-bg{
    
    background-color: #f4f4f4;
    margin-top: 50px;
    
   
}

.kategori-text,
.arrival-heading strong{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    padding-top: 20px;
    color: #034b41;
    
}

.white-bg{
    background-color: #ffffff;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 20px;
    border-radius: 15px;
}

.white-bg i{
    margin-bottom: 20px;
}

.white-bg span{
    font-weight: 600;
}


.flex-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.flex-div a{
    color: black;
}

.flex-div a:hover{
    box-shadow: 0 20px 43px rgb(0 0 0 / 15%);
    color: #0b9d8a;
    transition: all 0.2s ease-out;
    border-radius: 15px;
}

/* Kategoriler Bitiş */


/* Yeni Gelenler Başlangıç */
.arrival-heading{
    padding-top: 50px;
}

.arrival-heading strong{
    font-size: 2.0rem;
}

.arrival-heading p{
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    padding: 10px 10px;
}

.product-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20pxs;
    
}

.product-img{
    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}

.p-name{
    color: #727272;
}

.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0b9d8a;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: none;
    animation: fade 0.3s;
}

.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
    color: #ffffff;
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Yeni Gelenler Bitiş */



/* 3'lü Img Başlangıç */

.bg{
    background-color: #f4f4f4;
    width: 100%;
    margin-top: 40px;
}

.col-md-4 img{
border-radius: 5px;
margin: 50px 0px;
}

.col-md-4 img:hover{
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.1);
}

/* 3'lü Img Bitiş */




/* Loyalty Club Section Başlangıç */

.loyalty-bg{
    background-color: #f4f4f4;
}

.col-md-12 img{
    margin: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.col-md-12 img:hover{
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.1);
}

/* Loyalty Club Section Bitiş */



/* Serviş Başlangıç */

.services{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    min-width: 250px;
    padding: 20px;
    margin: 30px 30px;
    flex-grow: 0.7;
    border-radius: 5px;

}

.services-box:hover{
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.1);
}

.services-box i{
    color: #0b9d8a;
    font-size: 2rem;
    margin: 15px;
}

.services-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}


/* Serviş Bitiş */

/* Footer Başlangıç */
.source_code{
    background-color: #e0dede;
    text-align: center;
}
/* Footer Bitiş */


/* Hamburger Menu Başlangıç */

.fix-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 102;
}

/* Hamburger Menu Bitiş */


.col-md-12 a .mobile{
    display: none;
}

/* Responsive Başlangıç */

.toggle{
    display: none;
}

@media(max-width:1010px){
    nav{
        position: relative;
    }
    .navigation{
        height: 80px;
    }
    .fix-nav{
        height: 80px;
    }
    .menu{
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #ffffff;
        border-bottom: 4px solid #0b9d8a;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
    }

    .fix-nav .menu{
        top: 80px;
    }

    .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .navigation .menu li a{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0, 0, 0, 0.03);
    }

    .sale-lable{
        display: none;
    }
    .toggle{
        display: block;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }

    .toggle.active:before{
        content: '\f00d';

    }
    .navigation.active .menu{
        display: block;
    }
    
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
    .logo img{
        height: 27px;
        margin: 10px -30px;
    }
    
    .deneme{
        padding-left: 20px;
    }

    .col-md-12 a img{
        display: none;
    }
    
    .col-md-12 a .mobile{
        display: block;
        width: 80%;
        height: auto;
        
    }
    .col-md-4{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .search-bar{
        height: 150px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
}

@media(max-width:600px){
    .login-form,
    .sign-up-form{
        width: 90%;
    }

    .search-bar{
        height: 110px;
    }

}


/* Responsive Bitiş */


